
body{
    background-color: white;
    font-family: monospace;
    font-weight: lighter;
}

.row{
    display: flex;
}
.col{
    background-color: rgb(19, 146, 146);
    color: white;
    flex: 1;
    margin: 8px;
    padding: 8px;
}

.col-2{
    background-color: rgb(19, 146, 146);
    color: white;
    flex: 2;
    margin: 8px;
    padding: 8px;
}
.col-3{
    background-color: rgb(19, 146, 146);
    color: white;
    flex: 3;
    margin: 8px;
    padding: 8px;
}